/* NAVIGATION */
.navbar{
    flex-direction: column;
}
.navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
    margin: 0;
}


/* HOME */
#home{
height: 60vh;
padding: 3px 54px;
}
#home::before{
    height: 68vh;
    }
#home p{
    font-size: 13px;
}
/* SERVICESS */
.services{
 flex-direction: column;
}
.services{

}
.services .box img {
height: 103px;
}

/* CLIENT */
.clients{
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 50px;
}
#client-section::before{
    height: 154vh;
   }
#client-section {
    height: 147vh;
}
.client-item{
    margin: 30px;
    padding: 34px 20px;
    background-color: rgb(252, 230, 230);
    height: 210px;
    width: 49%;
}
.clients img{
    height: 120px;
}

/* .clients{
    overflow: hidden;

} */



/* CONTACT */
#contact{
    padding-top: 15px;
}

.contact-box form{
    width: 78%;
}
.contact-box input, .contact-box textarea {
width: 93%;
}
.contact-box label {
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}


/* FOOTER */

/* utility */
.h-primary{
    font-size: 26px;
}