*{
    margin: 0;
    padding: 0;

}
body{
    /* background-color: black; */
}

/* NAVIGATION BAR */
.navbar::before{
    content: "";
    /* background-image: url(7.jpg); */
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.58;
}
.navbar{
    position: relative;
    display: flex;
    /* background-color: black; */
    /* color: white; */
    align-items: center;
    height: 59px;
}
.logo-container{
    margin: 10px 17px;
}
.logo-container img{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 3px 5px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    color: white;
}

#cart{
    /* margin: 42px; */
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
}

.navbar ul li a{
    padding: 5px 17px;
    margin: 0px 20px;
    text-decoration-line: none;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}
.navbar ul li a:hover{
    color: black;
   background-color: aliceblue;
   border-radius: 25px;
   /* border: 1px solid black; */
   transition: all 0.3s;
}


/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 688px;
}
#home::before{
    content: "";
    /* background-image: url(m1.jpg); */
    background: url(images/m1.jpg) no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* background-color: black; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: aliceblue;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* SERVICES */
#services-container{
    /* margin-top: 37px; */
}
.services{
    display: flex;
    margin: 30px;
}
.services .box{
    border: 3px solid brown;
    padding: 18px;
    margin: 7px;
    border-radius: 20px;
    border-block-color: red;
    background-color: ivory;
    margin-bottom: 35px;
    
}
.services .box:hover{
    background-color: rgb(253, 219, 206);
    transition: All 0.3s;
    box-shadow: 9px 13px 12px 2px rgb(18, 18, 18);
    
}
.services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
/* client section */
#client-section{
    color: aliceblue;
    height: 66vh;
 color: black;
 font-family: 'Baloo Bhai 2', cursive;
 /* position: relative; */
}
#client-section::before{
    content: "";
    background-color: #f9f0f0;
    position: absolute;
    width: 100%;
    height: 71vh;
    /* top: 0;
    left: 0; */
    z-index: -1;
    opacity: 0.8;
   }
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 34px 20px;
    border: 1px solid white;
    background-color: rgb(252, 230, 230);
    border-radius: 15px;
    border: 1px solid rgb(254, 191, 191);
    
    color: black;
}
.clients img{
    height: 120px;
}


/* CONTACT SECTION */
#contact::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
}
#contact{
    color: aliceblue;
    position: relative;
    margin-top: 35px;
}
.contact-box{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 34px;
}
.contact-box form{
    width: 40%;
}
.contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
.contact-box input, .contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;

}





/* FOOTER */
footer{
    background:black ;
    color: aliceblue;
    margin: 23px 3px;
    padding: 5px 23px;
}
/* UTILITY CLASSES */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    
}
.h-secondary{
    font-size: 2.8rem;
    padding: 10px;
}

.center{
    text-align: center;
}
.btn{
    padding: 6px 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(177, 42, 42);
    margin: 17px;
    color: white;
    font-size: 1.1rem;
    width: 150px;
}
.btn:hover{
    background-color: rgb(170, 4, 4);
    box-shadow: 1px 2px 7px 1px black;
    color: white;
    transition: width 0.s;
   
}